.page {
  display: flex;
  align-items: center;
	margin: 0px;
  justify-content: center;
	font-family: sans-serif;
	background: #a1a345;
}

.container {
	width: 100%;
}

.navigation {
  display: flex;
	
}
.page-header{
	background-color: #ffffff;
	height: 70px;
}
.main-index{
	background-color: #ffffff;
}
.page-footer{
	background-color: #ffffff;
	height: 70px;
}
.navigation-list {
  display: flex;
  padding: 20px 17px;
  gap: 34px;
  list-style-type: none;
	
}

.user-navigation-list {
  display: flex;
  padding: 20px 17px;
  gap: 34px;
  list-style-type: none;
}

.header-button {
	width: 160px;
	height: 37px;
	text-align: r;
	margin-top: 14px;
	margin-right: 70px;
	padding-top: 14px;
	border-radius: 4px;
  background-color: #756257;
}
