.page {
  display: flex;
  align-items: center;
	margin: 0px;
  justify-content: center;
	font-family: sans-serif;
	background: #000000;
}

a{
	text-decoration: none;
}

ul,ol{
	list-style-type: none;
}

.container {
	width: 100%;
}

.navigation {
  display: flex;
	
	
}
.page-header{
	height: 70px;
	background-color: #ffffff;
	justify-content: center;
	align-items: center;
	
	
	
}
.main-index{
	background-color: #ffffff;
}
.page-footer{
	background-color: #ffffff;
	height: 70px;
}
.navigation-list {
  display: flex;	
  gap: 34px;
  list-style-type: none;
	padding: 10px 17px;
}

.user-navigation-list {
  display: flex;
	
  gap: 34px;
  list-style-type: none;
}

.user-navigation {
	display: flex;
	padding: 10px 17px;
	
	margin-right: 70px;
	margin-left: auto;
}

.header-button {
	width: 160px;
	height: 37px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 14px;
	margin-left:18px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
  background-color: #756257;
}
.button-text {
	color: #ffffff;
}

.navigation-logo {
	margin-top: 0%;
	width: 139px;
	height: 75px;
}
